<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <script src="https://kit.fontawesome.com/98fc5c884d.js" crossorigin="anonymous"></script>


   {{#if stylesheet}}
    <link rel="stylesheet" href="{{stylesheet}}">
    {{/if}}
    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body id="main-body">

    <ul class="topnav">


        {{#if homePage}}
        <li><a class="active" href="/home"><i class="fa-solid fa-house"></i></a>
        </li>
        {{else}}
        <li><a href="/home"><i class="fa-solid fa-house"></i></a>
        </li>
        {{/if}}


        {{#if Clothing}}
        <li><a class="active" href="/clothing">Clothing</a></li>
        {{else}}
        <li><a href="/clothing">Clothing</a></li>
        {{/if}}


        {{#if Transport}}
        <li><a class="active" href="/transportation">Transportation</a></li>
        {{else}}
        <li><a href="/transportation">Transportation</a></li>
        {{/if}}

        {{#if questions}}
        <li><a class="active" href="/questions">Interview Questions</a></li>
        {{else}}
        <li><a href="/questions">Interview Questions</a></li>
        {{/if}}

        {{#if library}}
        <li><a class="active" href="/library">Libraries</a></li>
        {{else}}
        <li><a href="/library">Libraries</a></li>
        {{/if}}

    </ul>


    <main class="main-body">
        {{{body}}}
    </main>
     <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src='/public/scripts/button.js'></script>


</body>



</html>