<h1>Questions</h1>
<ul>
    <h2> Interview questions:</h2>
       <li>{{{listz.[0]}}}</li>
       <li>{{{listz.[1]}}}</li>
       <li>{{{listz.[2]}}}</li>
       <li>{{{listz.[4]}}}</li>
       <li>{{{listz.[5]}}}</li>
</ul>
<a href="/questions">
  <button type="button" id="my-button">Questions</button>
</a>

<input type="text" id="comment-box">
<button id="submit-button">Submit</button>
