<h1>Questions</h1>
<hr />
<div class="text-format">
<h1>Interview Questions</h1>
<ul>
    <h2> Interview questions:</h2>
       <li>{{{listz.[0]}}}</li>
       <li>{{{listz.[1]}}}</li>
       <li>{{{listz.[2]}}}</li>
       <li>{{{listz.[4]}}}</li>
       <li>{{{listz.[5]}}}</li>
</ul>
<a href="/questions">
  <button type="button" id="my-button">Questions</button>
</a>
<<<<<<< HEAD
<<<<<<< HEAD

<input type="text" id="comment-box">
<button id="submit-button">Submit</button>
=======
</div>
>>>>>>> 499b6110e6f33ce3004a41bb383009e72d73e596
=======
</div>
>>>>>>> 499b6110e6f33ce3004a41bb383009e72d73e596
